{% extends 'base/auth_base.html' %}

{% block page_title %}New password{% endblock %}

{% block page_content %}
    <div class="alert alert-warning alert-dismissible fade" id="new_password_error" role="alert" style="display: none;">
        <span></span>
        <button type="button" class="btn-close" onclick="fadeErrorDiv()"></button>
    </div>
    <h2>Enter new password</h2>
    <br>
    <h5>Please enter your new password twice so we can verify you typed it in correctly</h5>
    <form name="new_password_form" method="POST" onsubmit="return validateForm()" action="">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </div>
        <div class="mb-3">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="Update Password" class="btn btn-success">
    </form>
    <script>
        function validateForm(){
            let pass1 = document.forms["new_password_form"]["new_password1"];
            let pass2 = document.forms["new_password_form"]["new_password2"];
            if (pass1.value != pass2.value ) {
                showErrorDiv();
                pass1.value = "";
                pass2.value = ""
                return false;
            }
        }

        function fadeErrorDiv(){
            var error_div = document.getElementById("new_password_error");
            error_div.classList.remove("show");
            error_div.className += " fade";
            document.querySelector("#new_password_error > span").innerHTML = "";
            error_div.style.display = "none";
        }

        function showErrorDiv(){
            var error_div = document.getElementById("new_password_error");
            error_div.style.display = "block";
            error_div.classList.remove("fade");
            error_div.className += " show";
            document.querySelector("#new_password_error > span").innerHTML = "Passwords are not matching";
        }
    </script>
{% endblock %}
