{% extends 'base/auth_base.html' %}

{% block page_title %}Reset password{% endblock %}

{% block page_content %}
    <h2>Reset password</h2>
    <br>
    <h5>Forgot password? Write your email address below and we'll send instructions for password reset</h5>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <input type="submit" name="Send email" class="btn btn-success">
    </form>
    Remember password? <a href="{% url 'login' %}">Login</a>
{% endblock %} 