{% extends 'base/base.html' %}

{% block page_title %}Regular trade{% endblock %}

{% block page_content %}
    <br>
    <h2>Regular trade</h2>
    <br>
    <form class="custom-form" action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">{{ form.buy_currency.label_tag }}</label>
            {{ form.buy_currency }}
        </div>
        <div class="mb-3">
            <label class="form-label">{{ form.buy_currency_amount.label_tag }}</label>
            {{ form.buy_currency_amount }}

        </div>
        <div class="mb-3">
            <label class="form-label">{{ form.sell_currency.label_tag }}</label>
            {{ form.sell_currency }}
        </div>
        <div class="mb-3">
            <label class="form-label">{{ form.sell_currency_amount.label_tag }}</label>
            {{ form.sell_currency_amount }}
            <button class="btn btn-primary btn-sm check-balance">Check balance</button>
        </div>
        <input type="submit" value="Submit" class="btn btn-success btn-lg">
    </form>
{% endblock %}