{% extends 'base/base.html' %}

{% block page_title %}Transaction history{% endblock %}

{% block page_content %}
    <br>
    <h2>Search in transactions</h2>
    <br>
    <hr>
    <h2>Transactions</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Buy</th>
                <th scope="col">Buy Amount</th>
                <th scope="col">Sell</th>
                <th scope="col">Sell Amount</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">0</th>
                <td>BTC</td>
                <td>1</td>
                <td>DOGE</td>
                <td>28712.65</td>
                <td>6.1.22 17:56</td>
            </tr>
        </tbody>
    </table>
{% endblock %}