{% extends 'base/base.html' %}

{% block page_title %}Transaction history{% endblock %}

{% block page_content %}
    <br>
    <h2>Search in transactions</h2>
    <br>
    <form method="get">
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label">{{ historyFilter.form.buy_currency.label_tag }}</label>
                    {{ historyFilter.form.buy_currency }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ historyFilter.form.buy_currency_amount_from.label_tag }}</label>
                    <div class="row">
                        <div class="col-6">
                            {{ historyFilter.form.buy_currency_amount_from }}
                        </div>
                        <div class="col-6">
                            {{ historyFilter.form.buy_currency_amount_to }}
                        </div> 
                    </div>
                    <br>
                    <label class="form-label">{{ historyFilter.form.start_date.label_tag }}</label></h4>
                    <div class="row">
                        <div class="col-6">
                            {{ historyFilter.form.start_date }}
                        </div>
                        <div class="col-6">
                            {{ historyFilter.form.end_date }}
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label">{{ historyFilter.form.sell_currency.label_tag }}</label>
                    {{ historyFilter.form.sell_currency }}
                </div>
                <div class="mb-3">
                    <label class="form-label">{{ historyFilter.form.sell_currency_amount_from.label_tag }}</label>
                    <div class="row">
                        <div class="col-6">
                            {{ historyFilter.form.sell_currency_amount_from }}
                        </div>
                        <div class="col-6">
                            {{ historyFilter.form.sell_currency_amount_to }}
                        </div> 
                    </div>
                </div>
            </div>

        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <hr>
    <h2>Transactions</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Buy</th>
                <th scope="col">Buy Amount</th>
                <th scope="col">Sell</th>
                <th scope="col">Sell Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for elem in history %}
                <tr>
                    <th scope="row">{{ elem.id }}</th>
                    <td>{{ elem.buy_currency }}</td>
                    <td>{{ elem.buy_currency_amount }}</td>
                    <td>{{ elem.sell_currency }}</td>
                    <td>{{ elem.sell_currency_amount }}</td>
                    <td>{{ elem.date }}</td>
                    <td><a href="{% url 'delete_transaction_history' elem.id %}" class="btn btn-danger btn-sm confirm-delete">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}